.hello_modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.hello_modal_title {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-accent-color);
}

.hello_modal_subtitle {
  font-size: 18px;
}

.arrow {
  display: block;
  height: 8px;
  width: 8px;
  border: 2px solid transparent;
  transform: rotate(-45deg);
  position: relative;
}

.arrow:after,
.arrow:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow:after {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.arrow:before {
  top: 0;
  left: 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: top-arrow 1.65s infinite;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
