@import "../../assets/styles/mixins.scss";

.layout {
  @include default-layout();

  margin: auto;
}

.columns {
  display: flex;
  justify-content: center;
  column-gap: 15px;

  @media (max-width: 1000px) {
    flex-direction: column;
    row-gap: 15px;
  }
}

.header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: 2px solid var(--bg-primary-color);

  @media (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
}

.project_name {
  font-size: 70px;
  font-weight: 600;
}
